$primary-color: #7BC4E0;
$secondary-color: #6EA6BE;
#navbarContainer {
    // border: solid 1px black;
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: space-between;
    padding: 2% 8% 1% 8%;
}

.navLinks {
    margin-left: 16px;
}