$primary-color: #7BC4E0;
$secondary-color: #6EA6BE;

// ================================ TABLE STYLIZATION ================================

// TABLE (GENERAL)
table {
    border: solid 3px #7BC4E0;
    border-collapse: separate;
    border-radius: 20px;
    border-spacing: 0;
    width: 100%;
}

#table-container {
    padding-top: 2%;
}

// TABLE HEADINGS
th {
    background-color: #7BC4E0;
    border-top: none;
        color: white;
        font-size: 22px;
    font-variant-caps: all-small-caps;
    font-weight: 400;
    height: 40px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
        vertical-align: middle;
    }

// TABLE ROWS/DATA
#dataTable tr:hover td {
    background-color: rgb(123, 196, 224, 0.2)
}

td {
    background-color: white;
    border-bottom: solid 1px grey;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

// ROUNDING TABLE BORDERS
th:first-child {
    border-left: none;
    border-top-left-radius: 16px;
}
    
th:nth-child(4) {
    border-left: none;
    border-top-right-radius: 16px;
}
    
tr:last-child {
    border-bottom-left-radius: 16px;
}
tr:last-child td:first-child {
    border: none;
    border-bottom-left-radius: 20px;
}
        
tr:last-child td {
    border: none;
}
        
tr:last-child td:last-child {
    border: none;
    border-bottom-right-radius: 20px;
}

// ================================ BUTTON STYLIZATION ================================
// ACTION BUTTONS
#deleteButton {
    background-color: #ffffff;
    border: solid 3px rgb(255, 87, 87, 0.5);
    border-radius: 6px;
    color: rgb(255, 87, 87, 0.5);
    margin-right: 5px;
}

#deleteButton:hover {
    background-color: #FF5757;
    border: solid 3px #FF5757;
    border-radius: 6px;
    color: #ffffff;
    margin-right: 5px;
}

#editButton {
    background-color: #ffffff;
    border: solid 3px #EEDF90;
    border-radius: 6px;
    color: #EEDF90;
    margin-right: 5px;
}

#editButton:hover {
    background-color: #EEDF90;
    border: solid 3px #EEDF90;
    border-radius: 8px;
    color: #ffffff;
    margin-right: 5px;
}

#saveButton {
    background-color: #ffffff;
    border: solid 3px #7ADEB4;
    border-radius: 6px;
    color: #7ADEB4;
    margin-right: 5px;
}

#saveButton:hover {
    background-color: #7ADEB4;
    border: solid 3px #7ADEB4;
    border-radius: 6px;
    color: #ffffff;
    margin-right: 5px;
}